<form action="/auth/login" method="POST">

  <div>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" />
  </div>

  {{#if errorMessage}}
    <div>
      <p class="error">{{errorMessage}}</p>
    </div>
  {{/if}}

  <button>Login</button>
</form>